@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #F3F5FC;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}


/*fondos*/
#burbuja1 {
  position: fixed;
  left: 40%;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('image/buble.svg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  z-index: -1;
  transform: translateY(-170px);
}



#burbuja2 {
  position: fixed;
  bottom: 0;
  left: -20%;
  width: 100%;
  height: 115%;
  background-image: url('image/buble.svg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
  z-index: -1;
  transform: translateY(450px);
}



#maceta {
  position: fixed;
  bottom: 0;
  left: -25%;
  width: 115%;
  height: 90%;
  background-image: url('image/maceta.svg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  z-index: -1;
  transform: translateY(30px);
}



.container {
  position: relative;
  width: 100vw;
  height: 100vh;

}

/*Logo*/
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

header img {
  height: 130px;
  margin-right: 130px;
  margin-top: 80px;
  margin-left: 85px;
}

/*Espacio de escritura*/
.texto {
  position: absolute;
  width: 48.5%;
  resize: none;
  height: 54%;
  left: 16.5%;
  top: 15%;
  border: none;
  line-height: 150%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  background-color: rgba(243, 245, 252, 0);
  color: #000000;
}

.texto:focus,
.texto:active {
  border: none;
  outline: none;
}

/*aqui aparece el mensaje */
.mensaje {
  position: absolute;
  width: 87%;
  resize: none;
  height: 65%;
  left: 8%;
  top: 6%;
  border: none;
  line-height: 150%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  background-color: rgba(243, 245, 252, 0);
  color: #000000;


}

.mensaje:focus,
.mensaje:active {
  border: none;
  outline: none;
}




/*condicion solo de mayusculas o minusculas*/
.condicion {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 16.5%;
  top: 72%;
}



/*botones */
.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  margin-left: 16.5%;
  top: 77.9%;
}

/*boton encriptar */
.btn-encriptar {
  background-color: #455a64;
  width: 216px;
  height: 64px;
  position: relative;
  border-radius: 24px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}

.btn-encriptar:hover {
  background-color: #3c4e57;
}

/*boton desencriptar */
.btn-desencriptar {
  background-color: #ff725e;
  width: 216px;
  height: 64px;
  position: relative;
  border-radius: 24px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  margin-left: 24px;
}

.btn-desencriptar:hover {
  background-color: #ee6a59;
}

/*boton limpiar */
.btn-limpiar {
  background-color: #88989f;
  width: 216px;
  height: 64px;
  position: relative;
  border-radius: 24px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  margin-left: 24px;
}

.btn-limpiar:hover {
  background-color: #78868c;
}


.btn-copiar {
  background-color: #5f737c;
  width: 328px;
  height: 72px;
  top: 69%;
  left: 72.2%;
  border-radius: 24px;
  position: absolute;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-family: Poppins;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  padding-top: 24px;
  box-sizing: border-box;
}

.btn-copiar:hover {
  background-color: #576871;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}


.invisible {
  display: none;
}





/*Tarjeta de encriptado*/
.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 27%;
  bottom: 0;
  height: 80%;
  left: 70%;
  top: 5%;
  background: #d2d1d1;
  box-shadow: 0px 24 px 32 px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}



/*edicion del texto dentro de la caja*/
.mensaje-encriptado h2 {
  width: 100%;
  line-height: 120%;
  text-align: center;
  margin-top: 50px;
}

.mensaje-encriptado p {
  width: 100%;
  line-height: 120%;
  text-align: center;
  font-size: 15px;
}


/*edicion de imagen*/
.encriptado img {
  position: absolute;
  width: 190%;
  height: 60%;
  top: 10%;
}


.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 250px;
  height: 187.5px;
}


.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}




/* Ajuste del tamaño y posición del footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


footer .copy {
  text-align: center;
  margin-bottom: -28px;
  margin-top: 20px;
}

footer .redes {
  display: flex;
  justify-content: center;
}

footer .redes a {
  margin: 0 10px;
  font-size: 35px;
  color: #455a64;
  transition: color 0.3s;
}

footer .redes a:hover {
  color: #ff725e;
}




/* Responsive */
